.bestsellers {}





.bestsellers-list {}

.bestsellers-item { background-color: #fff}

.bestsellers-ill {}

.bestsellers-caption { font-weight: 600; font-size: 18px; line-height: 1.33;  color: #111; text-transform: uppercase; text-align: center;  }