/* global styles */
body{font-family: Montserrat, sans-serif; 
    font-size: 14px; 
    line-height: 1.28; 
    letter-spacing: -0.02em; 
    color: #111; 
    background-color: #fafafa; }
/* ubyra tochky */
ol, ul {list-style-type: none; }
/* ubera pidkreslennya  i uspadkovue kolir*/
a{text-decoration: none; color: inherit; }
/* dobavlya interaktyvnist kursoru */
button {cursor: pointer;}
address {font-style: normal;}

/* base styles */

address{ font-style: normal;}

.section { }

.section-title {font-weight: 600; font-size: 24px; line-height: 1.17; text-align: center; letter-spacing: -0.03em; text-transform: uppercase; }

.accent{color:#fd9222}

.logo { font-weight: 700; font-size: 18px; line-height: 1.11; letter-spacing: -0.03em;  text-transform: uppercase; }

.logo-icon {}

/* social  */
.social {}

.social-item {}

.social-link {}

.social-icons {}

/* buttons */
/* transparent robe kolir fonu prozoryj */
.btn {background-color: transparent;   font-weight: 600;}

.btn-filled { color: #fff; background-color: #fd9222; }

.btn-filled:hover, .btn-filled:focus { background: rgba(253, 146, 34, 0.1); color:#fd9222; }

.btn-outlined {}

.primary {color: #fff; }
.primary:hover, .primary:focus {color: #fff; background: #fd9222; }

.secondary {color: #111;  }
.secondary:hover, .secondary:focus {color: #fff; background: #fd9222; }