.footer { background-color: #1e1823;}

.footer-slogan { font-weight: 500; font-size: 28px; line-height: 1.21; letter-spacing: -0.03em; color:#fff }



/* tut v dezajnera text-align: centr ale same slovo prytysnute do krau cikavyj hid dezajnera */
.footer-caption { font-weight: 600; font-size: 14px; line-height: 1.21;  color: #fff; }

.contacts {}

.contacts-list {}

.contacts-item {}

.contacts-link { color:#fff}
.contacts-link:hover, .contacts-link:focus{ color: #fd9222}

.footer-menu {}

.footer-menu-item { }

.footer-menu-link {font-weight: 500; font-size: 14px; color:#fff }
.footer-menu-link:hover,
.footer-menu-link:focus {
    color: #fd9222
}